.title-page {
    width: 100vw;        
    height: 100vh;       
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    background-color: #2C2C2E; 
    overflow: hidden;    
  }

.radial-text-1 {
    background: radial-gradient(circle at center,
        #84C6FF 0%,
        #FF9757 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.h1 {
    font-size: 100px;
    font-weight: 800;
}

.h2 {
    color: #DCDEFF
}

.h3 {
    color: #DCDEFF;
}


.big {
    border: 2px solid transparent;                    
    border-radius: 25px;                               
    padding: 2px;                                     
    background:
        linear-gradient(#63636668, #63636668) padding-box,         
        linear-gradient(135deg,                           
        #FFC191,
        #FFFFFF 50%,
        #0239B9
        ) border-box; 
    height: 600px;
    display: flex;
    flex-direction: column;
}

.big1 {
    height: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 400px;
    border-radius: 25px;
    background-color: #2C2C2E;
}

.big2 {
    height: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    min-height: 400px;
    border-radius: 25px;
    background-color: rgba(99, 99, 102, 0.41);
    padding: 5px;
}