.viz-card {
    flex: 3;
    width: 100%;
    min-height: 200px;        /* ensures big area */
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
  }
  
  .viz-iframe {
    width: 100% !important;
    height: 100% !important;
    border: none;
    border-radius: 25px;
  }
  