.viz-card {
    flex: 3;
    width: 100%;
    min-height: 200px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    overflow: hidden;
  }
  
  .viz-card > * {
    max-width: 100%;
    max-height: 100%;
  }
  
  .viz-iframe {
    width: 100% !important;
    height: 100% !important;
    border: none;
    border-radius: 25px;
  }
  